@import url("https://monstrousdev.github.io/themes/addons/user-tags.css");
@import url('https://commandcrafterhd.github.io/DiscordDarkNeon/css/usertags.css');
@import url("https://discord-custom-covers.github.io/usrbg/snippets/userPopouts.css");

/* --== Add CRT effect ==-- */
html,body::before, .root-2zfUH6::before,
.standardSidebarView-E9Pc3j::before, .userPopout-2j1gM4::before,
.inner-1ilYF7::before, .container-1Lk8p7::before, .resultsGroup-cfY57t::before,
.theme-dark .root-g14mjS::after, .container-ZMc96U.themed-Hp1KC_::after,
.drawerSizingWrapper-1txdWG::after, .layer-2aCOJ3::after, .container-ZMc96U::after,
.quickswitcher-pKcM9U::after, .wrapper-3ByaVZ::after, .form-2oOOG9::after,
.autocompleteInner-y1mjDl::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}

/* --== Make sure the BetterDiscord version is readable ==-- */
.colorMuted-20987_ {
  color: var(--text-color);
}

/* VERSION INFO */
.info-3pQQBb:last-child::after {
  content: "Catcord 1.0";
  font-size: 12px;
  line-height: 16px;
  color: var(--highlight);
}

/* Add custom title! */

.wordmarkWindows-2dq6rw svg {
    width: 0px;
  }

.wordmarkWindows-2dq6rw::after {
    content: '';
    display: inline-block;
    -webkit-mask-image: url("https://commandcrafterhd.github.io/Fallout4TerminalTheme/svg/title.svg");
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: cover;
    background-color: var(--highlight);
    width: 240px !important;
    height: 14px !important;
  }
